<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:security="http://www.sitecore.net/xmlconfig/security/">
	<sitecore role:require="Standalone or ContentManagement or XMCloud" security:require="Sitecore">
		<pipelines>
			<initialize>
				<processor type="AuditLogs.Diagnostics.AuditLiveToMongo, AuditLogs" />
			</initialize>
		</pipelines>
		<!-- General settings -->
		<settings>
			<setting name="MongoDBUrl" value="mongodb://localhost:27017" />
			<setting name="MongoDBName" value="Audit" />
			<setting name="MongoDBCollectionName" value="Logs" />

			<setting name="ExcludeItems" value="{A6599689-3616-4938-A5BB-9EC65480D2F3}|{9955F85F-9EE1-4469-BD70-5422AF976461}|{5A507736-A0A2-46F7-BE59-7324E584796E}|{7356F179-B8D2-4091-AC17-D65F02E4416D}|{238E4FD9-C8C6-499A-A0A1-5259B1B24D3A}|{8FF7EA91-0D42-4BFF-8FD4-2FE2E0749626}" />
			<!--
		       // The master switch for allowing auditing; To disable Sitecore item auditing add the following to <settings>section within a patch config: <setting name="Audit.Enabled" value="false"/>	
		       
		       // To disable auditing item creations, add the following to <settings> section within a patch config: <setting name="Audit.ItemCreating" value="false"/>
		       
		       // To disable auditing changes to items, add the following to <settings> section within a patch config: <setting name="Audit.ItemSaving" value="false"/>
		       
		       // To disable auditing item deletions, add the following to <settings> section within a patch config: <setting name="Audit.ItemDeleting" value="false"/>
		       
               // To disable auditing copying items, add the following to <settings> section within a patch config: <setting name="Audit.ItemCopying" value="false"/>
		       
               // To disable auditing item moves, add the following to <settings> section within a patch config: <setting name="Audit.ItemMoving" value="false"/>
		       
               // To disable auditing renaming of items, add the following to <settings> section within a patch config: <setting name="Audit.ItemRenamed" value="false"/>
		       
               // To enable auditing item sort order changes, add the following to <settings> section within a patch config: <setting name="Audit.ItemSortOrderChanged" value="true"/>
		       
               // To disable auditing item template changes, add the following to <settings> section within a patch config: <setting name="Audit.ItemTemplateChanged" value="false"/>
		       
               // To enable auditing item publish processed events, add the following to <settings> section within a patch config: <setting name="Audit.ItemPublished" value="true"/>
			-->
		</settings>
	</sitecore>
</configuration>